* {
  font-family: "Roboto";
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.right_block{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right_corner_image{
  display: flex;
}

.slogan{
  font-size: 35px;
  justify-self: center ;
}

.acesso_conta{
  position: display;
  justify-self: end;
}

.logo {
  font-family: "Pacifico", cursive;
  color: #fe5b00;
  opacity: 90%;
  font-size: 80px;
  margin-top: 10px;
}

button {
  border-radius: 25px;
  background-color: #fe5b00;
  font-weight: bold;
}

.resolvelogo{
  display: flex;
  justify-content: flex-end;
}