.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right_block{
  display: flex;
  flex-direction: column;
}

.left_block{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.logo {
  font-size: 4rem;
  font-family: "Pacifico", cursive;
  color: #fe5b00;
  opacity: 90%;
  font-size: 5rem;
  justify-self: flex-start;
}

.slogan{
  font-size: 2rem;
  justify-self: center ;
  opacity: 0.8;
  align-self: center;
}


button {
  border-radius: 1rem;
  width: 60px;
  background-color: #fe5b00;
  font-weight: bold;
  opacity: 0.8;
  border: 1px solid #fe5b00;
}

.acesso_conta{
  display: flex;
  justify-content: flex-end;
}

.barra_de_busca{
  align-self: center;
}

footer{
  margin-top: 5vw;
}

form{
  font-size: 1rem;
  align-self: center;
  margin: 3rem;
  font-weight: bold;
  opacity: 0.8;
}

input[type=text]{
  width: 30vw;
  padding: 0.8rem 1rem;
  border: 1px solid #FF9671;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: #FF9671;
}


.separador{
  height: 0.3rem;
  background-color: #FE5B00;
  border-radius: 10px;
  opacity: 0.8;
  margin: 2vh;
}


@media (orientation: portrait){

  input[type=text]{
    width: 80vw;
    font-size: 3rem;
  }

  .barra_de_busca{
    margin-bottom: 6vw;
  }
 
  .left_block{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
  }

  .right_block{
    display: none;
  }

  .logo{
    font-size: 10rem;
  }

  button{
    width: 5cm;
    height: 1.5cm;
    font-size: 2rem;
  }

}