.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.right_block{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.left_block{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-family: "Pacifico", cursive;
  color: #fe5b00;
  opacity: 90%;
  font-size: 80px;
  margin-top: 10px;
  margin-left: 10px;
}

.slogan{
  display: flex;
  font-size: 35px;
  justify-self: center ;
  opacity: 0.8;
}


button {
  border-radius: 25px;
  width: 60px;
  background-color: #fe5b00;
  font-weight: bold;
  opacity: 0.8;
  border: 1px solid #fe5b00;
}

.conserta_posicionamento{
  display: flex;
  justify-content: flex-end;
}

.conserta_posicionamento_slogan{
  display: flex;
  justify-content: center;
}

footer{
  margin-top: 60px;
}

form{
  margin-top: 40px;
}

input[type=text]{
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #FF9671;
  border-radius: 15px;
  box-sizing: border-box;
}

.container_separador{
  display: flex;
  justify-content: center;
}

.separador{
  justify-self: center;
  width: 200px;
  height: 5px;
  background-color: #FE5B00;
  border-radius: 15px;
  opacity: 0.8;
}

